{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1>プロフィール</h1>
<h2>{{ user }}</h2>
{% if user != request.user %}
{% if user not in following %}
  <form method="post" action="{% url 'accounts:follow' username=user.username %}">
    {% csrf_token %}
    <button type="submit">フォロー</button>
  </form>
{% else %}
  <form method="post" action="{% url 'accounts:unfollow' username=user.username %}">
    {% csrf_token %}
    <button type="submit">フォローを解除</button>
  </form>
{% endif %}

{% else %}
<a href="{% url 'accounts:following_list' username=request.user %}"><p>フォロー数：{{following|length}}</p></a>
<a href="{% url 'accounts:follower_list' username=request.user %}"><p>フォロワー数：{{follower_number}}</p></a>

{% endif %}
{% for tweet in tweets %}
<li><p>{{ tweet.user.username }}</p><p><a href="{% url 'tweets:detail' pk=tweet.pk %}">{{ tweet.content }}</a></p><p>{{ tweet.created_at }}</p></li>
<br>
{% endfor %}
<p><a href="{% url 'tweets:home' %}">ホームに戻る</a></p>
{% endblock %}
