{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1>Homeです！</h1>
<p>アカウント名 {{ request.user }} でログイン中です！</p>
<p><a href="{% url 'tweets:create' %}">ツイートする</a></p>
<p><a href="{% url 'accounts:user_profile' username=user.username %}">プロフィール</a></p>
<br>
<h2>ツイート一覧</h2>
{% for tweet in tweets %}
<li><a href="{% url 'accounts:user_profile' username=tweet.user %}">{{ tweet.user.username }}</a><p><a href="{% url 'tweets:detail' pk=tweet.pk %}">{{ tweet.content }}</a></p><p>{{ tweet.created_at }}</p></li>
<br>
{% endfor %}
{% endblock %}
